<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/ABC.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- MDB CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <style>
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa;
            padding:10px;
            color:white;
            
        }

        .fab fa-facebook-f {
            background-color: blue;
        }
    </style>
</head>

<body style="padding-top:0px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary pb-3" style=" background-color: forestgreen;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo" loading="lazy" />
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Exam")" class="nav-link" style="color:white;font-size:16px;">Exam</a>
                       
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Create", "Subject")" class="nav-link" style="color:white;font-size:16px;">Subject</a>
                       
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Create", "Topic")" class="nav-link" style="color:white;font-size:16px;">Topic</a>
                     
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Create", "Question")" class="nav-link" style="color:white;font-size:16px;">Question</a>
                      
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("GenerateQuestionPaper", "QuestionPaper")" class="nav-link" style="color:white;font-size:16px;">Generate Paper</a>
                      
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("GetQuestionPaper", "QuestionPaper")" class="nav-link" style="color:white;font-size:16px;">Paper</a>
                      
                    </li>
                    
                </ul>
                <div class="d-flex align-items-center">
                    <a class="text-reset me-3" href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <div class="dropdown">
                        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">1</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Some news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="#">My profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Settings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Change Password</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content ">
        @RenderBody()
    </div>

    <footer class="bg-body-tertiary text-center" style=" background-color: forestgreen;">
        @DateTime.Now.Year  ABC.com
    </footer>

    <!-- Bootstrap JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- MDB JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

    <!-- Custom Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>