@model ABC.Topic

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #NepaliTopicName, #SubjectIDNepali, #ExamIdNepali {
        font-family: 'Preeti', Arial, sans-serif;
        font-size: 18px;
    }
</style>
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Topic</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.TopicName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TopicName, new { htmlAttributes = new { @class = "form-control", @id = "NepaliTopicName", @style = "display:none;" } })
                @Html.EditorFor(model => model.TopicName, new { htmlAttributes = new { @class = "form-control", @id = "EnglishTopicName" } })
                @Html.ValidationMessageFor(model => model.TopicName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top:0px;">
            @Html.Label("ExamId", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.DropDownList("ExamId", ABC.Models.Dropdown.DropDownListData("ExamType", null, false), new { @class = "form-control" })
                @Html.DropDownList("ExamId", ABC.Models.Dropdown.DropDownListData("ExamType", null, true), new { @class = "form-control", @id = "ExamIdNepali", @style = "display:none; font-size: 18px;" })



            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.SubjectID, "SubjectID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("SubjectID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("SubjectID", ABC.Models.Dropdown.DropDownListData("SubjectType", null, false), new { @class = "form-control" })
                @Html.DropDownList("SubjectID", ABC.Models.Dropdown.DropDownListData("SubjectType", null, true), new { @class = "form-control", @id = "SubjectIDNepali", @style = "display:none; font-size: 18px;" })
                @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                @Html.Label("IsNepali ")
                @Html.CheckBox("checkboxIsNepali", new { @id = "chIsNepali" })
                @Html.HiddenFor(model => model.IsNepali)
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var checkval = $("#chIsNepali").is(":checked");
            $("#IsNepali").val(checkval);
            $("#chIsNepali").change(function () {
                var checkval = $("#chIsNepali").is(":checked");
                $("#IsNepali").val(checkval);
                if ($(this).is(":checked")) {
                    $("#NepaliTopicName").show(); // Remove display: none;
                    $("#EnglishTopicName").hide();
                    $("#SubjectIDNepali").show(); // Remove display: none;
                    $("#SubjectID").hide();
                    $("#ExamIdNepali").show(); // Remove display: none;
                    $("#ExamId").hide();
                } else {
                    $("#SubjectID").show();
                    $("#SubjectIDNepali").hide(); // Add display: none;
                    $("#ExamIdNepali").hide(); // Remove display: none;
                    $("#ExamId").show();
                }
            });
        });
    </script>


    <script type="text/javascript">


        $(document).ready(function () {

            $('#ExamId').change(function () {

                var Exam = $('#ExamId').val();
                var searchText = "SubjectType";
                var IsNepali = $("#chIsNepali").is(":checked");
                GetDropdownList(Exam, "#SubjectID", searchText, IsNepali);

            });
        });

    </script>
    <script type="text/javascript">


        $(document).ready(function () {

            $('#ExamIdNepali').change(function () {

                var NepaliExam = $("#ExamIdNepali").val();
                var searchText = "SubjectType";
                var IsNepali = $("#chIsNepali").is(":checked");
                GetDropdownList(NepaliExam, "#SubjectIDNepali", searchText, IsNepali);

            });
        });

    </script>
}


